body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url(header.jpg) no-repeat center center fixed;
  background-size: cover;
}


h1 {
  font-size: 3rem;
  color: #e2dbdb;
}
.space{
  height: 10rem;
}
hr{
  border-color: #0a58ca;
  border-width: 3px;
  max-width: 65px;
  opacity: 2;
  margin-left: 47.5%;
}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}


.btn-primary:hover {
  border-width: 3px;
}

.btn-xl{
  padding: 1rem 2rem;
}